<!DOCTYPE html>
<html lang="es" ng-app="ClaseApp">
<head>
    <meta charset="utf-8" />
    <title>Consilium</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />*@
    <link href="~/Content/docs.css" rel="stylesheet" />
    <link href="~/Content/themes/default/style.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css " rel="stylesheet" />
    <link href="~/Content/toaster.css " rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <style type="text/css">
        .container {
            width: 1200px !important;
        }
    </style>
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="/" />
    }
    else
    {
        <base href="/" />
    }
</head>
<body>
    @RenderBody()

    <!-- 3rd party libraries -->
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js"></script>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>

    <script src="~/Scripts/ui-bootstrap-0.11.0.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="~/Scripts/textAngular-sanitize.min.js"></script>
    <script src="~/Scripts/textAngular.min.js"></script>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jstree.js"></script>
    <script src="~/Scripts/toaster.js"></script>
    <script src="~/Scripts/loading-bar.js"></script>

    <!-- Load app main script -->
    <script src="~/app/app.js?v=0.25"></script>
    <!-- Load services-->
    <script src="~/app/services/usuarioSesion.js?v=0.25"></script>
    <script src="~/app/services/claseDataService.js?v=0.25"></script>
    <script src="~/app/services/capacidadDataService.js?v=0.25"></script>
    <script src="~/app/services/contenidoDataService.js?v=0.25"></script>
    <script src="~/app/services/columnaDataService.js?v=0.25"></script>
    <script src="~/app/services/listaColumnaDataService.js?v=0.25"></script>
    <script src="~/app/services/columnaColegioDataService.js?v=0.25"></script>
    <script src="~/app/services/conocimientoDataService.js?v=0.25"></script>
    <script src="~/app/services/pruebaDataService.js?v=0.25"></script>
    <script src="~/app/services/usuarioDataService.js?v=0.25"></script>
    <script src="~/app/services/colegioDataService.js?v=0.25"></script>
    <script src="~/app/services/valorDataService.js?v=0.25"></script>
    <script src="~/app/services/metodologiaDataService.js?v=0.25"></script>
    <script src="~/app/services/reporteDataService.js?v=0.25"></script>
    <script src="~/app/services/tipoConocimientoDataService.js?v=0.25"></script>
    <script src="~/app/services/arribaAbajoDataService.js?v=0.25"></script>
    <!-- Load controllers-->
    <script src="~/app/controllers/navigationController.js?v=0.25"></script>
    <script src="~/app/controllers/crearClaseController.js?v=0.25"></script>
    <script src="~/app/controllers/capacidadPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/contenidoPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/historialClaseController.js?v=0.25"></script>
    <script src="~/app/controllers/claseController.js?v=0.25"></script>
    <script src="~/app/controllers/columnaController.js?v=0.25"></script>
    <script src="~/app/controllers/listaColumnaPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/conocimientoPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/pruebaPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/sesionController.js?v=0.25"></script>
    <script src="~/app/controllers/usuarioController.js?v=0.25"></script>
    <script src="~/app/controllers/usuarioPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/colegioController.js?v=0.25"></script>
    <script src="~/app/controllers/colegioPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/valorPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/metodoligaPopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/metodologiaController.js?v=0.25"></script>
    <script src="~/app/controllers/valorController.js?v=0.25"></script>
    <script src="~/app/controllers/capacidadController.js?v=0.25"></script>
    <script src="~/app/controllers/reporteController.js?v=0.25"></script>
    <script src="~/app/controllers/eliminarClasePopUpController.js?v=0.25"></script>
    <script src="~/app/controllers/contenidoController.js?v=0.25"></script>
    <script src="~/app/controllers/cambioPasswordController.js?v=0.25"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
    <script src="~/Scripts/angular-file-upload-html5-shim.min.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>

