<div class="modal-header" style="padding-top:10px;padding-bottom:10px">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 style="margin-top:5px">Cambio contraseña</h4>
</div>
<div class="modal-body" style="padding:0px">
    <div class="well well-sm" style="margin:0px">
        <form class="form-horizontal" name="cambioForm" ng-submit="submitForm(cambioForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Usuario: </label>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" ng-model="usuario.codigo" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-class="{ 'has-error' : cambioForm.password.$invalid && !cambioForm.password.$pristine }">
                    <label for="nombreClase" class="control-label col-xs-4">Contraseña </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="password" name="password" ng-model="usuario.password" required />
                        <p ng-show="cambioForm.password.$invalid && !cambioForm.password.$pristine" class="help-block">Contraseña es obligatorio.</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer" style="padding-top:10px;padding-bottom:10px">
    <button type="button" data-ng-click="guardar()" class="btn btn-primary pull-right" ng-disabled="cambioForm.$invalid">Guardar</button>
</div>

