<div class="well well-sm">
    <form role="form" class="form-horizontal">
        <fieldset>
            <legend>Clase</legend>
            <div class="form-group form-group-sm">
                <label for="nombreClase" class="col-xs-1 control-label">Título </label>
                <div class="col-xs-11">
                    <input class="form-control" id="nombreClase" placeholder="Ingrese nombre de clase" ng-model="claseCabecera.titulo" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="usuario" class="col-xs-1 control-label">Usuario</label>
                <div class="col-xs-5">
                    <input class="form-control" id="usuario" ng-model="claseCabecera.usuario" />
                </div>
                <label for="area" class="col-xs-1 control-label">Area</label>
                <div class="col-xs-5">
                    <input class="form-control" id="area" ng-model="claseCabecera.area" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="exampleInputPassword1" class="col-xs-1 control-label">Nivel</label>
                <div class="col-xs-2">
                    <select class="form-control" ng-model="claseCabecera.nivelId" ng-options="nivel.nivelId as nivel.nivelDesc for nivel in niveles" ng-init="selectedNivel=1" ng-change="obtenerGrados()"></select>
                </div>
                <label for="exampleInputPassword1" class="col-xs-1 control-label">Grado</label>
                <div class="col-xs-2">
                    <select class="form-control" ng-model="claseCabecera.gradoId" ng-options="grado.gradoId as grado.gradoDesc for grado in grados"></select>
                </div>
                <label for="exampleInputPassword1" class="col-xs-1 control-label">Fecha Inicio</label>
                <div class="col-xs-2">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="claseCabecera.fechaInicioFormato" is-open="openedFechaInicio" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openFechaInicio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <label for="exampleInputPassword1" class="col-xs-1 control-label" >Fecha Fin</label>
                <div class="col-xs-2">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="claseCabecera.fechaFinFormato" is-open="openedFechaFin" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openFechaFin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

            </div>
            <div class="form-group">
                <div style="float:right;margin-right:20px">
                    <a href="http://localhost:53456/ClaseImpresion/Imprimir/{{claseCabecera.claseId}}" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-hdd"></span> Guardar
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="row show-grid">
    <div class="col-xs-2">
        <div>
            <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpCapacidades()">1. Capacidades</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarCapacidades()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="col-xs-2">
        <div>
            <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpContenidos()">2. Contenidos</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpContenidos()">3. Valores</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpContenidos()">4. Metodología</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpListaColumna(1)">5. Opcional 1</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarClaseColumna(1)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:80%" ng-click="popUpListaColumna(2)">6. Opcional 2</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarClaseColumna(2)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseCapacidades"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseContenidos"></div>
    </div>    
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseValores"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseMetodos"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseColumna1"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseColumna2"></div>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-8">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:100%" ng-click="" disabled="disabled">7. Actividades (escribir dentro de la caja, hasta 1530 cacteres)</button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm btn-clase" style="width:100%" ng-click="" disabled="disabled">8. Horas</button>
    </div>
    <div class="col-xs-2">
        <span class="btn btn-info btn-sm btn-clase btn-file" style="width:80%">
            9. Archivos <input type="file" ng-file-select="onFileSelect($files)">
        </span><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarClaseArchivo()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-8" style="height:400px">
        <text-angular ng-model="actividad.actividades" ta-toolbar="[['bold','italics','underline','ul','ol'],['justifyLeft','justifyCenter','justifyRight']]" ta-html-editor-class="textarea-actividad"></text-angular>
    </div>
    <div class="col-xs-2" style="height:400px">
        <textarea ng-model="actividad.horas" style="height:100%;width:100%;resize:none;"></textarea>
    </div>
    <div class="col-xs-2" style="height:400px;overflow:auto;">
        <ul class="jstree-container-ul jstree-children jstree-no-icons" style="width:50px">
            <li class="jstree-node  jstree-last jstree-closed" ng-repeat="archivo in archivos"><input type="checkbox" ng-model="archivo.seleccion"/> <a target="_blank" href="/api/archivo/{{archivo.claseArchivoId}}">{{archivo.nombre}}</a></li>
        </ul>
    </div>
</div>
<br/>
<div class="row show-grid">
    <button class="btn btn-success">Matriz de Evaluacion</button>
</div>
<div class="row show-grid">
    <table class="table-matriz">
        <tr>
            <td><input type="checkbox" ng-model="matriz.formativa" /> Formativa</td>
            <td><input type="checkbox" ng-model="matriz.sumativa" /> Sumativa</td>
            <td><input type="checkbox" ng-model="matriz.autoEvaluativa" /> AutoEvaluativa</td>
            <td><input type="checkbox" ng-model="matriz.coevaluativa" /> Coevaluativa </td>
            <td><input type="checkbox" ng-model="matriz.heteroEvalucion" /> HeteroEvalucion </td>
            <td><input type="checkbox" ng-model="matriz.censal" /> Censal </td>
            <td><input type="checkbox" ng-model="matriz.muestral" /> Muestral </td>
        </tr>
    </table>
</div>
<div class="row show-grid">
    <div class="col-xs-2">
        <button class="btn btn-success btn-sm btn-clase" style="width:100%" disabled="disabled">1. Indicador de logro</button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm btn-clase" style="width:80%" ng-click="popUpConocimientos()">2. Tipo de conocimiento</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarConocimientos()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm btn-clase" style="width:80%" ng-click="popUpListaColumna(3)">3. Opcional 3</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarClaseColumna(2)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm btn-clase" style="width:80%" ng-click="popUpListaColumna(4)">4. Opcional 4</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:20%" ng-click="eliminarClaseColumna(2)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-success btn-sm btn-clase" style="width:90%" ng-click="popUpPruebas()">5. Pruebas</button><button type="button" class="btn btn-danger btn-sm btn-clase" style="width:10%" ng-click="eliminarPruebas()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-2">
        <textarea ng-model="matriz.indicadorLogro" style="height:300px;width:100%;resize:none"></textarea>
    </div>
    <div class="col-xs-2">
        <div id="jtClaseTipoConocimiento" style="height:300px"></div>
    </div>
    <div class="col-xs-2">
        <div id="jtClaseColumna3" style="height:300px"></div>
    </div>
    <div class="col-xs-2">
        <div id="jtClaseColumna4" style="height:300px"></div>
    </div>
    <div class="col-xs-4">
        <div style="width:100%;height:300px">
            <div id="jsClasePrueba" style="height:100px"></div>
            <div><button class="btn btn-success btn-sm btn-clase" style="width:100%" disabled="disabled">Ingrese algun comentario referente a la prueba</button></div>
            <textarea ng-model="matriz.pruebaTexto" style="height:168px;width:100%;resize:none"></textarea>
        </div>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success btn-sm btn-clase" style="width:100%" ng-click="" disabled="disabled">Ingrese algun comentario referente a la clase</button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-12">
        <textarea ng-model="matriz.observacionClase" style="width:100%;height:100px;resize:none"></textarea>
    </div>
</div>