<div class="panel panel-default" style="">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Clase</h3>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-hdd"></span> Guardar
            </button>
            <a href="http://localhost:53456/ClaseImpresion/Imprimir/789" target="_blank" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="nombreClase" class="col-xs-2 control-label">Nombre </label>
                <div class="col-xs-4">
                    <input class="form-control" id="nombreClase" placeholder="Ingrese nombre de clase" ng-model="claseCabecera.titulo" />
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="col-xs-2 control-label">Nivel</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="selectedNivel" ng-options="nivel.nivelId as nivel.nivelDesc for nivel in niveles" ng-init="selectedNivel=1" ng-change="obtenerGrados()"></select>
                </div>
                <label for="exampleInputPassword1" class="col-xs-2 control-label">Grado</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="selectedGrado" ng-options="grado.gradoId as grado.gradoDesc for grado in grados"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="col-xs-2 control-label">Fecha Inicio</label>
                <div class="col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="claseCabecera.fechaInicioFormato" is-open="openedFechaInicio" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFechaInicio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <label for="exampleInputPassword1" class="col-xs-2 control-label">Fecha Fin</label>
                <div class="col-xs-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="claseCabecera.fechaFinFormato" is-open="openedFechaFin" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openFechaFin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-2">
        <div>
            <button type="button" class="btn btn-info btn-sm" ng-click="popUpCapacidades()">1. Capacidades</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarCapacidades()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="col-xs-2">
        <div>
            <button type="button" class="btn btn-warning btn-sm" ng-click="popUpContenidos()">2. Contenidos</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-primary btn-sm" ng-click="popUpContenidos()">3. Valores</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpContenidos()">4. Metodología</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarContenidos()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpListaColumna(1)">5. Opcional 1</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarClaseColumna(1)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpListaColumna(2)">6. Opcional 2</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarClaseColumna(2)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseCapacidades"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseContenidos"></div>
    </div>    
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseValores"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseMetodos"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseColumna1"></div>
    </div>
    <div class="col-xs-2" style="overflow:auto;height:400px;padding-left:1px;padding-right:1px;">
        <div id="jtClaseColumna2"></div>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-8">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpContenidos()">7. Actividades (escribir dentro de la caja, hasta 1530 cacteres)</button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpContenidos()">8. Horas</button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-sm" ng-click="popUpContenidos()">9. Archivos</button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-8" style="height:400px">
        <text-angular ng-model="actividad.actividades" ng-blur="ola()" ta-toolbar="[['bold','italics','underline','ul','ol'],['justifyLeft','justifyCenter','justifyRight']]"></text-angular>
    </div>
    <div class="col-xs-2" style="height:400px">
        <textarea ng-model="actividad.horas"></textarea>
    </div>
    <div class="col-xs-2">
    </div>
</div>
<div class="row show-grid">
    <button class="btn btn-info">Matriz de Evaluacion</button>
</div>
<div class="row show-grid">
    <table>
        <tr>
            <td>Formativa <input type="checkbox" ng-model="matriz.formativa" /></td>
            <td>Sumativa <input type="checkbox" ng-model="matriz.sumativa" /></td>
            <td>AutoEvaluativa <input type="checkbox" ng-model="matriz.autoEvaluativa" /></td>
            <td>Coevaluativa <input type="checkbox" ng-model="matriz.coevaluativa" /></td>
            <td>HeteroEvalucion <input type="checkbox" ng-model="matriz.heteroEvalucion" /></td>
            <td>Censal <input type="checkbox" ng-model="matriz.censal" /></td>
        </tr>
    </table>
</div>
<div class="row show-grid">
    <div class="col-xs-4">
        <button class="btn btn-info">1. Indicador de logro</button>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-info">2. Tipo de conocimiento</button>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-info">3. Pruebas</button>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-4">
        <textarea ng-model="matriz.indicadorLogro"></textarea>
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <textarea ng-model="matriz.pruebaTexto"></textarea>
    </div>
</div>
<div class="row show-grid">
    <div class="col-xs-12">
        <textarea ng-model="matriz.observacionClase"></textarea>
    </div>
</div>