<div class="modal-header" style="padding-top:10px;padding-bottom:10px">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 style="margin-top:5px">Propiedades de Colegio</h4>
</div>
<div class="modal-body" style="padding:0px">
    <div class="well well-sm" style="margin:0px">
        <form class="form-horizontal" name="colegioForm" ng-submit="submitForm(colegioForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Id </label>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" ng-model="colegio.colegioId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-class="{ 'has-error' : colegioForm.nombre.$invalid && !colegioForm.nombre.$pristine }">
                    <label for="nombreClase" class="control-label col-xs-4">Nombre </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" name="nombre" ng-model="colegio.nombre" required />
                        <p ng-show="colegioForm.nombre.$invalid && !colegioForm.nombre.$pristine" class="help-block">Nombre es obligatorio.</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Direccion </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="colegio.direccion" ng-maxlength="8" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Telefono</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="colegio.telefono" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer" style="padding-top:10px;padding-bottom:10px">
    <button type="button" data-ng-click="guardarSeleccion()" class="btn btn-primary pull-right" ng-disabled="colegioForm.$invalid">Guardar</button>
</div>

