<div class="modal-header" style="padding-top:10px;padding-bottom:10px">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 style="margin-top:5px">Propiedades de Usuario</h4>
</div>
<div class="modal-body" style="padding:0px">
    <div class="well well-sm" style="margin:0px">
        <form class="form-horizontal" name="usuarioForm" ng-submit="submitForm(usuarioForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group form-group-sm" ng-class="{ 'has-error' : usuarioForm.codigo.$invalid && !usuarioForm.codigo.$pristine }">
                    <label for="nombreClase" class="control-label col-xs-4">Usuario </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" name="codigo" ng-model="usuario.codigo" required />
                        <p ng-show="usuarioForm.codigo.$invalid && !usuarioForm.codigo.$pristine" class="help-block">Usuario es obligatorio.</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Nombre </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="usuario.nombre" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Apellido Paterno </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="usuario.apellidoPaterno" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Apellido Materno</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="usuario.apellidoMaterno" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Correo </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="usuario.correo" />
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-class="{ 'has-error' : usuarioForm.colegio.$invalid && !usuarioForm.colegio.$pristine }">
                    <label for="nombreClase" class="control-label col-xs-4">Colegio </label>
                    <div class="col-xs-8">
                        <select class="form-control" name="colegio" ng-model="usuario.colegioId" ng-options="colegio.colegioId as colegio.nombre for colegio in colegios" required></select>
                        <p ng-show="usuarioForm.colegio.$invalid && !usuarioForm.colegio.$pristine" class="help-block">Colegio es obligatorio.</p>
                    </div>
                </div>
                <div class="form-group form-group-sm" ng-class="{ 'has-error' : usuarioForm.password.$invalid && !usuarioForm.password.$pristine }" ng-show="!disabledUsuario">
                    <label for="password" class="control-label col-xs-4">Contraseña </label>
                    <div class="col-xs-8">
                        <input class="form-control" type="password" name="password" ng-model="usuario.password" ng-required="!disabledUsuario" />
                        <p ng-show="usuarioForm.password.$invalid && !usuarioForm.password.$pristine" class="help-block">Contraseña es obligatoria.</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Estado </label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.estado" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Diseño de clase</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.disenoClase" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Historia</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.historialClase" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Reporte</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.reporte" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Mantenimiento</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.mantenimiento" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="nombreClase" class="control-label col-xs-4">Administrador</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.administrador" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="eliminarClase" class="control-label col-xs-4">Eliminar clase</label>
                    <div class="col-xs-1">
                        <input class="form-control" type="checkbox" ng-model="usuario.eliminarClase" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer" style="padding-top:10px;padding-bottom:10px">
    <button type="button" data-ng-click="guardarSeleccion()" class="btn btn-primary pull-right" ng-disabled="usuarioForm.$invalid">Guardar</button>
</div>

